<!DOCTYPE html>
<html>
<head>
	<title>Intermediate {{prefix}} Page</title>
</head>
<body>

	<ul id="wantedLinks1">
		
		<li> <a href="http://localhost:{{port}}/intermediate/{{prefix}}/0/">Link 0</a> </li>

	</ul>

	<ul id="unwantedLinks">
		
		{% for i in range(10) %}

		<li> <a href="http://localhost:{{port}}/intermediate/unwanted/{{prefix}}/{{i}}/">UW Link {{i}}</a></li>

		{% endfor %}

	</ul>

	<ul id="wantedLinks2">
		
		<li> <a href="http://localhost:{{port}}/intermediate/{{prefix}}/1/">Link 1</a> </li>

	</ul>

</body>
</html>